<%- include('../partials/header') %>



  <h1><%=title%></h1>

      <p> Welcome to EconomicParadigm – an educational exploration of economic ideologies.</p>    
      <p>Kindly note that this website is solely a mock platform created for educational demonstration. The information shared here is designed to facilitate comprehension of economic paradigms, including capitalism, socialism, and communism. It is not meant as professional advice, and no real-world actions should be based on this content.</p>    
      <p>EconomicParadigm serves as a simulated learning tool and is not affiliated with official entities. Any semblance to real organizations is coincidental.</p>    
      <p>Enjoy your educational journey through the realm of economic theories, and please remember that this content does not hold legal or authoritative status.</p>
      <p>Thank you for visiting EconomicParadigm!</p>    
     
<%- include('../partials/footer') %>
